@model ToDoModel


<div class="card border-light bg-secondary text-white m-3 p-3">
    <div class="panel panel-default">
        <div class="panel-heading card-title h1">@Model.Title</div>
    </div>
    <div class="card-text p-2">
        <div class="panel-body badge badge-warning float-left mr-2 ">
            <p class="form-text align-middle h6 pt-1">Creation Date: @(Model.CreationDate.ToString("dd/MM/yy HH:mm"))</p>
        </div>
        <div class="panel-body badge badge-success ">
            <p class="form-text align-middle h6 pt-1">Due Date: @Model.PrettyDateTime()</p>
        </div>
        <a class="btn btn-danger btn-sm pull-right float-right h6 m-1" onclick="return confirm('Item will be deleted.')" asp-controller="ToDo" asp-action="Delete" asp-route-id="@Model.Id">
            Delete
        </a>
        <a class="btn btn-secondary btn-outline-light text-dark bg-light btn-sm pull-right float-right h6 m-1" asp-controller="ToDo" asp-action="Details" asp-route-id="@Model.Id">
            Details
        </a>
        <a class="btn btn-sucess btn-outline-light btn-sm pull-right float-right h6 m-1"  asp-controller="ToDo" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
    </div>
</div>