@model ToDoModel

<div class="card border-light border-left-0 border-top-0 border-right-0 bg-dark text-white m-1 p-1">
    <h3 class="card-title display-4">Title: @Model.Title</h3>
    <div class="bg-faded p-1">
        <h6>
            Status: @Model.PrettyEnum()
        </h6>
        <h6>
            Creation Date: @Model.CreationDate - Due Date: @Model.PrettyDateTime()
        </h6>
        <h3 >
            Description: @Model.Description
        </h3>
    </div>
    <span class="card-text p-2">
        <form method="post" enctype="multipart/form-data" asp-controller="ToDo" asp-action="Delete" asp-route-id="@Model.Id">
            <input type="submit" onclick="return confirm('Item will be deleted.')" value="Delete" class="btn btn-danger btn-sm pull-right float-right m-1" />
        </form>
        <a class="btn btn-secondary btn-sm pull-right float-right m-1" asp-controller="ToDoList" asp-action="Details" asp-route-id="@Model.ToDoListId">
            Back
        </a>
        <a class="btn btn-info bg-dark btn-outline-light btn-sm pull-right float-right m-1"  asp-controller="ToDo" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
    </span>
</div>